.b1{background-color: purple;
height: 700px;
width: 700px;
position: relative;
}
.gtr{
    background-color: green;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 27%;
    right: 27%;
    
}
